apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: aistor
commonAnnotations:
  aistor.min.io/authors: MinIO, Inc.
  aistor.min.io/license: Enterprise
  aistor.min.io/support: https://subnet.min.io

resources:
  - resources/namespace.yaml
  - resources/operators/base/adminjob
  - resources/operators/base/aihub
  - resources/operators/base/keymanager
  - resources/operators/base/object-store
  - resources/operators/base/prompt
  - resources/operators/base/warp